<div class=" rounded p-3">
    <table ng-controller="listDM" class="table container">
      <h3 class="text-primary ms-lg-5">Danh sách danh mục</h3>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tên danh mục</th>
          <th scope="col">Mô tả</th>
          <th scope="col">Trạng thái</th>
          <th scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in danhsach">
          <td>{{item.id}}</td>
          <td>{{item.ten}}</td>
          <td>
             {{item.mo_ta}}
          </td>
          <td>
            <span
                ng-class="{'badge bg-success rounded-pill': item.trang_thai === 'Đang bán', 'badge bg-danger rounded-pill': item.trang_thai === 'Đã ngừng bán'}">{{item.trang_thai}}</span>
          </td>
          <td>
            <a href="#!danhmuc-detail/{{item.id}}" class="btn btn-primary">Xem</a>
            <a href="#!danhmuc-update/{{item.id}}" class="btn btn-warning">Sửa</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal-{{item.id}}">
                            Xóa
                        </button>

                        <!-- The Modal -->
                        <div class="modal" id="myModal-{{item.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header ">
                                        <h4 class="modal-title ">Xác nhận</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <p>Bạn có chắc chắn muốn xóa danh mục 
                                        <p class="text-danger fw-bold">{{item.ten}}</p>
                                        </p>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy</button>

                                        <button class="btn btn-danger" ng-click="onClickDeleteDM(item.id)">Xác nhận
                                            xóa</button>
                                    </div>

                                </div>
                            </div>
                        </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  
    